@{
    ViewData["Title"] = "Denied";
}

<h1>You cannot delete this user, because it has assigned reservations!</h1>

<div>
    <a asp-controller="Client" asp-action="Index">Back to list of clients</a>
</div>