html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.td-row {
    align-items: center
}

.blue-card {
    background-color: #EDF9FF !important;
}

    .blue-card:hover {
        background-color: #C7ECFF !important;
        cursor: pointer;
        text-decoration: none !important;
    }
